--extra-index-url https://download.pytorch.org/whl/cu134

ipykernel
NumPy
Pandas
Matplotlib
seaborn
scikit-learn
scipy
tensorflow
keras_tuner
opencv-python
keras
streamlit
tensorboard
huggingface_hub
pillow
torchvision
torch
torchaudio